# National University Ranking

![](images/2023-07-13-00-48-01.png)

## Introduction

## Reasearch Idea: 
### Developing a searchable database to help high school students identify colleges that match their criteria in terms of tuition, graduation rate, location, and rank.

ROUGH OUTLINE
1. extract the state short code from location
2. extract the year founded from description
3. clean up the fees, in-state and enrollment columns
4. clean up the columns names

* 51 states

5. seperate each state schools
6. each state will be a table of it's own in the database for database optimization
7. create a state table
8. can rank school inside each state based on enrollment

-- EDA

9. Top school based on rank, tuition fees, instate fees, and enrollment
10. Top 2 schools within 56 states
11. oldest schools based on year founded
12. oldest school within 51 states
* Word cloud for each state

-- App interface

13. A brief overview with visuals from top school based on rank (overall)
14. selection box to select state. Once selected, brief overview with a visual of the top school in that state.
* Overview will include details based on the available data like average tuition and top ranked school.
15. Another section where we take in input from the user to recommend a movie within a choosen state.
16. If no state is choosen, we recommend based on the user location, and closest state.
* For closest state, we can do some resear to know which state is closer to each other (Feature engineering) 

## Objectives
Outline breakdown

### Data Cleaning: 
* Objective: Clean the data and feature engineer new columns
* Tools: Python

### EDA
* Objective: Create visuals from the cleaned data
* Tools: Power BI, Python

### Database Engineers
* Objective: Create the database and the schema. Views if possible
* Tools: SQL

### Project App
* Objective: Create the user interface
* Tools: Python, SQL, USer

### Technical Writers
* Objective: Document every process
* Microsoft/Google Suites (Slide, Docs, Excel, etc)

## Have a video meeting to discuss milestone achievement

### Import Libraries

In [1]:
import pandas as pd
import plotly.express as px

In [6]:
# Loading the dataset
nur = pd.read_csv("dataset/National Universities Rankings.csv", index_col=0)
nur.shape

(231, 7)

In [3]:
nur.head()

,Name,Location,Rank,Description,Tuition and fees,In-state,Undergrad Enrollment
index,,,,,,,
0,Princeton University,"Princeton, NJ",1,"Princeton, the fourth-oldest college in the Un...","$45,320",NaN,"5,402"
1,Harvard University,"Cambridge, MA",2,"Harvard is located in Cambridge, Massachusetts...","$47,074",NaN,"6,699"
2,University of Chicago,"Chicago, IL",3,"The University of Chicago, situated in Chicago...","$52,491",NaN,"5,844"
3,Yale University,"New Haven, CT",3,"Yale University, located in New Haven, Connect...","$49,480",NaN,"5,532"
4,Columbia University,"New York, NY",5,"Columbia University, located in Manhattan's Mo...","$55,056",NaN,"6,102"

In [7]:
df_nur = nur.copy()

In [8]:
# Promise
# Remove the dollar sign ($) and comma
df_nur['Tuition and fees'] = df_nur['Tuition and fees'].str.replace('$', '', regex=False).str.replace(',', '')

# convert the column datatype to integer
df_nur['Tuition and fees'] = df_nur['Tuition and fees'].fillna('0').astype(int)

In [9]:
# Chinaza
# Cleaning In-state column
df_nur['In-state'] = df_nur['In-state'].str.replace('$','', regex=False).str.replace(',', '')
df_nur['In-state'] = df_nur['In-state'].fillna('0').astype(int)

In [24]:
# precious
# data cleaning by replacing ',' with '' and converting column to integer
df_nur['Undergrad Enrollment'] = df_nur['Undergrad Enrollment'].str.replace(',','').astype('int')

KeyError: 'Undergrad Enrollment'

In [26]:
#task.toyosi - Extract the states from the location table, make it a column of it's own
df_nur['State'] = nur['Location'].str.split(',').str[-1].str.strip()

In [25]:
#Olufemilite
#Changing column headers to lower case and changing spaces to underscore
df_nur.rename(columns={"Name":"name","Location":"location","Rank":"rank","Description":"description",
                       "Tuition and fees":"tuition_and_fees","In-state":"in_state","Undergrad Enrollment":"undergrad_enrollment",
                       "State": "state"}, inplace=True)
df_nur.head()

,name,location,rank,description,tuition_and_fees,in_state,undergrad_enrollment,state,state
index,,,,,,,,,
0,Princeton University,"Princeton, NJ",1,"Princeton, the fourth-oldest college in the Un...",45320,0,"5,402",NJ,NJ
1,Harvard University,"Cambridge, MA",2,"Harvard is located in Cambridge, Massachusetts...",47074,0,"6,699",MA,MA
2,University of Chicago,"Chicago, IL",3,"The University of Chicago, situated in Chicago...",52491,0,"5,844",IL,IL
3,Yale University,"New Haven, CT",3,"Yale University, located in New Haven, Connect...",49480,0,"5,532",CT,CT
4,Columbia University,"New York, NY",5,"Columbia University, located in Manhattan's Mo...",55056,0,"6,102",NY,NY

In [39]:
# Goodrich
# Extract the year using regex and create a new column
df_nur['year'] = df_nur['description'].str.extract(r'(\d{4})')

In [37]:
df_nur.head()

,name,location,rank,description,tuition_and_fees,in_state,undergrad_enrollment,state,state,State
index,,,,,,,,,,
0,Princeton University,"Princeton, NJ",1,"Princeton, the fourth-oldest college in the Un...",45320,0,"5,402",NJ,NJ,NJ
1,Harvard University,"Cambridge, MA",2,"Harvard is located in Cambridge, Massachusetts...",47074,0,"6,699",MA,MA,MA
2,University of Chicago,"Chicago, IL",3,"The University of Chicago, situated in Chicago...",52491,0,"5,844",IL,IL,IL
3,Yale University,"New Haven, CT",3,"Yale University, located in New Haven, Connect...",49480,0,"5,532",CT,CT,CT
4,Columbia University,"New York, NY",5,"Columbia University, located in Manhattan's Mo...",55056,0,"6,102",NY,NY,NY

# ALL YOUR TASK SHOULD BE DONE BELOW THIS MARKDOWN FOR EASY MERGING

In [4]:
import pandas as pd

In [10]:
df_nur.head()

,Name,Location,Rank,Description,Tuition and fees,In-state,Undergrad Enrollment
index,,,,,,,
0,Princeton University,"Princeton, NJ",1,"Princeton, the fourth-oldest college in the Un...",45320,0,"5,402"
1,Harvard University,"Cambridge, MA",2,"Harvard is located in Cambridge, Massachusetts...",47074,0,"6,699"
2,University of Chicago,"Chicago, IL",3,"The University of Chicago, situated in Chicago...",52491,0,"5,844"
3,Yale University,"New Haven, CT",3,"Yale University, located in New Haven, Connect...",49480,0,"5,532"
4,Columbia University,"New York, NY",5,"Columbia University, located in Manhattan's Mo...",55056,0,"6,102"

In [13]:
df_nur.dtypes

Name                    object
Location                object
Rank                     int64
Description             object
Tuition and fees         int32
In-state                 int32
Undergrad Enrollment    object
State                   object
dtype: object

In [57]:
#SERAH
#Filter the dataframe for the following 5 states. NJ, MA, IL, CT, and NY. 
#For each of them, there should be a dataframe sorted by tuition fees, in state, and undergrad enrollment. E.g. Seperate NJ entries, a df sorted by tuition desc order, another df still for NJ sorted by in state column desc, lastly another df sorted by enrollment

df_nur[df_nur['State'] =='NJ']

,name,location,rank,description,tuition_and_fees,in_state,undergrad_enrollment,state,state,State
index,,,,,,,,,,
0,Princeton University,"Princeton, NJ",1,"Princeton, the fourth-oldest college in the Un...",45320,0,"5,402",NJ,NJ,NJ
69,Rutgers University--New Brunswick,"Piscataway, NJ",70,For high school students who can't decide what...,30023,14372,"35,484",NJ,NJ,NJ
71,Stevens Institute of Technology,"Hoboken, NJ",71,Innovation and entrepreneurship is stressed at...,48838,0,"2,873",NJ,NJ,NJ
118,Seton Hall University,"South Orange, NJ",118,"Seton Hall University is a private, Catholic s...",39258,0,"6,090",NJ,NJ,NJ
137,New Jersey Institute of Technology,"Newark, NJ",135,"Founded in 1881, New Jersey Institute of Techn...",30326,16108,"8,008",NJ,NJ,NJ
138,Rutgers University--Newark,"Newark, NJ",135,Rutgers University--Newark is one of several c...,29480,13829,"7,713",NJ,NJ,NJ
178,Montclair State University,"Montclair, NJ",176,Montclair State University is located in New J...,20318,11771,"16,336",NJ,NJ,NJ

In [20]:
df_nur[df_nur['State'] =='NJ'].sort_values('tuition_and_fees', ascending=False)

,name,location,rank,description,tuition_and_fees,in_state,undergrad_enrollment,state,State
index,,,,,,,,,
71,Stevens Institute of Technology,"Hoboken, NJ",71,Innovation and entrepreneurship is stressed at...,48838,0,"2,873",NJ,NJ
0,Princeton University,"Princeton, NJ",1,"Princeton, the fourth-oldest college in the Un...",45320,0,"5,402",NJ,NJ
118,Seton Hall University,"South Orange, NJ",118,"Seton Hall University is a private, Catholic s...",39258,0,"6,090",NJ,NJ
137,New Jersey Institute of Technology,"Newark, NJ",135,"Founded in 1881, New Jersey Institute of Techn...",30326,16108,"8,008",NJ,NJ
69,Rutgers University--New Brunswick,"Piscataway, NJ",70,For high school students who can't decide what...,30023,14372,"35,484",NJ,NJ
138,Rutgers University--Newark,"Newark, NJ",135,Rutgers University--Newark is one of several c...,29480,13829,"7,713",NJ,NJ
178,Montclair State University,"Montclair, NJ",176,Montclair State University is located in New J...,20318,11771,"16,336",NJ,NJ

In [40]:
df_nur[df_nur['State'] =='NJ'].sort_values('undergrad_enrollment', ascending=False)

,name,location,rank,description,tuition_and_fees,in_state,undergrad_enrollment,state,state,State
index,,,,,,,,,,
137,New Jersey Institute of Technology,"Newark, NJ",135,"Founded in 1881, New Jersey Institute of Techn...",30326,16108,"8,008",NJ,NJ,NJ
138,Rutgers University--Newark,"Newark, NJ",135,Rutgers University--Newark is one of several c...,29480,13829,"7,713",NJ,NJ,NJ
118,Seton Hall University,"South Orange, NJ",118,"Seton Hall University is a private, Catholic s...",39258,0,"6,090",NJ,NJ,NJ
0,Princeton University,"Princeton, NJ",1,"Princeton, the fourth-oldest college in the Un...",45320,0,"5,402",NJ,NJ,NJ
69,Rutgers University--New Brunswick,"Piscataway, NJ",70,For high school students who can't decide what...,30023,14372,"35,484",NJ,NJ,NJ
71,Stevens Institute of Technology,"Hoboken, NJ",71,Innovation and entrepreneurship is stressed at...,48838,0,"2,873",NJ,NJ,NJ
178,Montclair State University,"Montclair, NJ",176,Montclair State University is located in New J...,20318,11771,"16,336",NJ,NJ,NJ

In [42]:
df_nur[df_nur['State'] =='MA']

,name,location,rank,description,tuition_and_fees,in_state,undergrad_enrollment,state,state,State
index,,,,,,,,,,
1,Harvard University,"Cambridge, MA",2,"Harvard is located in Cambridge, Massachusetts...",47074,0,"6,699",MA,MA,MA
6,Massachusetts Institute of Technology,"Cambridge, MA",7,"MIT is located in Cambridge, Massachusetts, ac...",48452,0,"4,527",MA,MA,MA
26,Tufts University,"Medford, MA",27,Tufts University is located in the Medford/Som...,52430,0,"5,290",MA,MA,MA
30,Boston College,"Chestnut Hill, MA",31,Boston College was founded by the Society of J...,51296,0,"9,192",MA,MA,MA
33,Brandeis University,"Waltham, MA",34,"Brandeis University is located in Waltham, Mas...",51570,0,"3,621",MA,MA,MA
38,Boston University,"Boston, MA",39,Boston University is one of the largest indepe...,50240,0,"17,932",MA,MA,MA
39,Northeastern University,"Boston, MA",39,"At Northeastern University, students gain subs...",47655,0,"13,697",MA,MA,MA
64,Worcester Polytechnic Institute,"Worcester, MA",60,"Among the 10 colleges located in Worcester, Ma...",46994,0,"4,299",MA,MA,MA
74,Clark University,"Worcester, MA",74,"Clark University in Worcester, Mass., is a sma...",43150,0,"2,397",MA,MA,MA
76,University of Massachusetts--Amherst,"Amherst, MA",74,The University of Massachusetts--Amherst is th...,30123,13790,"22,748",MA,MA,MA
157,University of Massachusetts--Lowell,"Lowell, MA",152,"Founded in 1894, University of Massachusetts--...",29125,13427,"13,266",MA,MA,MA
191,Suffolk University,"Boston, MA",188,Visitors to the Massachusetts State House in t...,35578,0,"5,565",MA,MA,MA
197,Lesley University,"Cambridge, MA",197,"Founded in 1909, Lesley University is a privat...",25750,0,"1,520",MA,MA,MA
225,University of Massachusetts--Boston,"Boston, MA",220,"Founded in 1964, University of Massachusetts--...",32023,13435,"12,949",MA,MA,MA
226,University of Massachusetts--Dartmouth,"North Dartmouth, MA",220,"Located about 60 miles south of Boston, the Un...",19270,12588,"7,295",MA,MA,MA

In [43]:
df_nur[df_nur['State'] =='MA'].sort_values('tuition_and_fees', ascending=False)

,name,location,rank,description,tuition_and_fees,in_state,undergrad_enrollment,state,state,State
index,,,,,,,,,,
26,Tufts University,"Medford, MA",27,Tufts University is located in the Medford/Som...,52430,0,"5,290",MA,MA,MA
33,Brandeis University,"Waltham, MA",34,"Brandeis University is located in Waltham, Mas...",51570,0,"3,621",MA,MA,MA
30,Boston College,"Chestnut Hill, MA",31,Boston College was founded by the Society of J...,51296,0,"9,192",MA,MA,MA
38,Boston University,"Boston, MA",39,Boston University is one of the largest indepe...,50240,0,"17,932",MA,MA,MA
6,Massachusetts Institute of Technology,"Cambridge, MA",7,"MIT is located in Cambridge, Massachusetts, ac...",48452,0,"4,527",MA,MA,MA
39,Northeastern University,"Boston, MA",39,"At Northeastern University, students gain subs...",47655,0,"13,697",MA,MA,MA
1,Harvard University,"Cambridge, MA",2,"Harvard is located in Cambridge, Massachusetts...",47074,0,"6,699",MA,MA,MA
64,Worcester Polytechnic Institute,"Worcester, MA",60,"Among the 10 colleges located in Worcester, Ma...",46994,0,"4,299",MA,MA,MA
74,Clark University,"Worcester, MA",74,"Clark University in Worcester, Mass., is a sma...",43150,0,"2,397",MA,MA,MA
191,Suffolk University,"Boston, MA",188,Visitors to the Massachusetts State House in t...,35578,0,"5,565",MA,MA,MA
225,University of Massachusetts--Boston,"Boston, MA",220,"Founded in 1964, University of Massachusetts--...",32023,13435,"12,949",MA,MA,MA
76,University of Massachusetts--Amherst,"Amherst, MA",74,The University of Massachusetts--Amherst is th...,30123,13790,"22,748",MA,MA,MA
157,University of Massachusetts--Lowell,"Lowell, MA",152,"Founded in 1894, University of Massachusetts--...",29125,13427,"13,266",MA,MA,MA
197,Lesley University,"Cambridge, MA",197,"Founded in 1909, Lesley University is a privat...",25750,0,"1,520",MA,MA,MA
226,University of Massachusetts--Dartmouth,"North Dartmouth, MA",220,"Located about 60 miles south of Boston, the Un...",19270,12588,"7,295",MA,MA,MA

In [50]:
df_nur[df_nur['State'] =='MA'].sort_values('undergrad_enrollment', ascending=False)

,name,location,rank,description,tuition_and_fees,in_state,undergrad_enrollment,state,state,State
index,,,,,,,,,,
30,Boston College,"Chestnut Hill, MA",31,Boston College was founded by the Society of J...,51296,0,"9,192",MA,MA,MA
226,University of Massachusetts--Dartmouth,"North Dartmouth, MA",220,"Located about 60 miles south of Boston, the Un...",19270,12588,"7,295",MA,MA,MA
1,Harvard University,"Cambridge, MA",2,"Harvard is located in Cambridge, Massachusetts...",47074,0,"6,699",MA,MA,MA
191,Suffolk University,"Boston, MA",188,Visitors to the Massachusetts State House in t...,35578,0,"5,565",MA,MA,MA
26,Tufts University,"Medford, MA",27,Tufts University is located in the Medford/Som...,52430,0,"5,290",MA,MA,MA
6,Massachusetts Institute of Technology,"Cambridge, MA",7,"MIT is located in Cambridge, Massachusetts, ac...",48452,0,"4,527",MA,MA,MA
64,Worcester Polytechnic Institute,"Worcester, MA",60,"Among the 10 colleges located in Worcester, Ma...",46994,0,"4,299",MA,MA,MA
33,Brandeis University,"Waltham, MA",34,"Brandeis University is located in Waltham, Mas...",51570,0,"3,621",MA,MA,MA
76,University of Massachusetts--Amherst,"Amherst, MA",74,The University of Massachusetts--Amherst is th...,30123,13790,"22,748",MA,MA,MA
74,Clark University,"Worcester, MA",74,"Clark University in Worcester, Mass., is a sma...",43150,0,"2,397",MA,MA,MA
38,Boston University,"Boston, MA",39,Boston University is one of the largest indepe...,50240,0,"17,932",MA,MA,MA
39,Northeastern University,"Boston, MA",39,"At Northeastern University, students gain subs...",47655,0,"13,697",MA,MA,MA
157,University of Massachusetts--Lowell,"Lowell, MA",152,"Founded in 1894, University of Massachusetts--...",29125,13427,"13,266",MA,MA,MA
225,University of Massachusetts--Boston,"Boston, MA",220,"Founded in 1964, University of Massachusetts--...",32023,13435,"12,949",MA,MA,MA
197,Lesley University,"Cambridge, MA",197,"Founded in 1909, Lesley University is a privat...",25750,0,"1,520",MA,MA,MA

In [45]:
df_nur[df_nur['State'] =='IL']

,name,location,rank,description,tuition_and_fees,in_state,undergrad_enrollment,state,state,State
index,,,,,,,,,,
2,University of Chicago,"Chicago, IL",3,"The University of Chicago, situated in Chicago...",52491,0,"5,844",IL,IL,IL
12,Northwestern University,"Evanston, IL",12,What began as farmland and swampland in the 18...,50855,0,"8,314",IL,IL,IL
46,University of Illinois--Urbana-Champaign,"Champaign, IL",44,The University of Illinois is located in the t...,31320,15698,"33,368",IL,IL,IL
99,Loyola University Chicago,"Chicago, IL",99,"Loyola University Chicago, or Loyola Chicago, ...",41384,0,"11,079",IL,IL,IL
102,Illinois Institute of Technology,"Chicago, IL",103,"The Illinois Institute of Technology, a privat...",45214,0,"2,991",IL,IL,IL
124,DePaul University,"Chicago, IL",124,DePaul University has five campuses in and aro...,37626,0,"15,961",IL,IL,IL
151,Illinois State University,"Normal, IL",152,Illinois State University is located in the to...,20886,13296,"18,426",IL,IL,IL
155,University of Illinois--Chicago,"Chicago, IL",152,The University of Illinois--Chicago (UIC) is l...,26526,13670,"17,575",IL,IL,IL
215,Northern Illinois University,"DeKalb, IL",214,Northern Illinois University is located about ...,23799,14334,"15,027",IL,IL,IL
217,Southern Illinois University--Carbondale,"Carbondale, IL",214,"Founded in 1869, Southern Illinois University-...",27130,13481,"13,031",IL,IL,IL
219,Benedictine University,"Lisle, IL",220,"Founded in 1887, Benedictine University is a p...",32170,0,"3,347",IL,IL,IL

In [46]:
df_nur[df_nur['State'] =='IL'].sort_values('tuition_and_fees', ascending=False)

,name,location,rank,description,tuition_and_fees,in_state,undergrad_enrollment,state,state,State
index,,,,,,,,,,
2,University of Chicago,"Chicago, IL",3,"The University of Chicago, situated in Chicago...",52491,0,"5,844",IL,IL,IL
12,Northwestern University,"Evanston, IL",12,What began as farmland and swampland in the 18...,50855,0,"8,314",IL,IL,IL
102,Illinois Institute of Technology,"Chicago, IL",103,"The Illinois Institute of Technology, a privat...",45214,0,"2,991",IL,IL,IL
99,Loyola University Chicago,"Chicago, IL",99,"Loyola University Chicago, or Loyola Chicago, ...",41384,0,"11,079",IL,IL,IL
124,DePaul University,"Chicago, IL",124,DePaul University has five campuses in and aro...,37626,0,"15,961",IL,IL,IL
219,Benedictine University,"Lisle, IL",220,"Founded in 1887, Benedictine University is a p...",32170,0,"3,347",IL,IL,IL
46,University of Illinois--Urbana-Champaign,"Champaign, IL",44,The University of Illinois is located in the t...,31320,15698,"33,368",IL,IL,IL
217,Southern Illinois University--Carbondale,"Carbondale, IL",214,"Founded in 1869, Southern Illinois University-...",27130,13481,"13,031",IL,IL,IL
155,University of Illinois--Chicago,"Chicago, IL",152,The University of Illinois--Chicago (UIC) is l...,26526,13670,"17,575",IL,IL,IL
215,Northern Illinois University,"DeKalb, IL",214,Northern Illinois University is located about ...,23799,14334,"15,027",IL,IL,IL
151,Illinois State University,"Normal, IL",152,Illinois State University is located in the to...,20886,13296,"18,426",IL,IL,IL

In [51]:
df_nur[df_nur['State'] =='IL'].sort_values('undergrad_enrollment', ascending=False)

,name,location,rank,description,tuition_and_fees,in_state,undergrad_enrollment,state,state,State
index,,,,,,,,,,
12,Northwestern University,"Evanston, IL",12,What began as farmland and swampland in the 18...,50855,0,"8,314",IL,IL,IL
2,University of Chicago,"Chicago, IL",3,"The University of Chicago, situated in Chicago...",52491,0,"5,844",IL,IL,IL
46,University of Illinois--Urbana-Champaign,"Champaign, IL",44,The University of Illinois is located in the t...,31320,15698,"33,368",IL,IL,IL
219,Benedictine University,"Lisle, IL",220,"Founded in 1887, Benedictine University is a p...",32170,0,"3,347",IL,IL,IL
102,Illinois Institute of Technology,"Chicago, IL",103,"The Illinois Institute of Technology, a privat...",45214,0,"2,991",IL,IL,IL
151,Illinois State University,"Normal, IL",152,Illinois State University is located in the to...,20886,13296,"18,426",IL,IL,IL
155,University of Illinois--Chicago,"Chicago, IL",152,The University of Illinois--Chicago (UIC) is l...,26526,13670,"17,575",IL,IL,IL
124,DePaul University,"Chicago, IL",124,DePaul University has five campuses in and aro...,37626,0,"15,961",IL,IL,IL
215,Northern Illinois University,"DeKalb, IL",214,Northern Illinois University is located about ...,23799,14334,"15,027",IL,IL,IL
217,Southern Illinois University--Carbondale,"Carbondale, IL",214,"Founded in 1869, Southern Illinois University-...",27130,13481,"13,031",IL,IL,IL
99,Loyola University Chicago,"Chicago, IL",99,"Loyola University Chicago, or Loyola Chicago, ...",41384,0,"11,079",IL,IL,IL

In [48]:
df_nur[df_nur['State'] =='CT']

,name,location,rank,description,tuition_and_fees,in_state,undergrad_enrollment,state,state,State
index,,,,,,,,,,
3,Yale University,"New Haven, CT",3,"Yale University, located in New Haven, Connect...",49480,0,"5,532",CT,CT,CT
62,University of Connecticut,"Storrs, CT",60,"The University of Connecticut, located in Stor...",35858,14066,"18,826",CT,CT,CT
192,University of Hartford,"West Hartford, CT",188,"The University of Hartford, also known as UHar...",37790,0,"5,246",CT,CT,CT

In [49]:
df_nur[df_nur['State'] =='CT'].sort_values('tuition_and_fees', ascending=False)

,name,location,rank,description,tuition_and_fees,in_state,undergrad_enrollment,state,state,State
index,,,,,,,,,,
3,Yale University,"New Haven, CT",3,"Yale University, located in New Haven, Connect...",49480,0,"5,532",CT,CT,CT
192,University of Hartford,"West Hartford, CT",188,"The University of Hartford, also known as UHar...",37790,0,"5,246",CT,CT,CT
62,University of Connecticut,"Storrs, CT",60,"The University of Connecticut, located in Stor...",35858,14066,"18,826",CT,CT,CT

In [52]:
df_nur[df_nur['State'] =='CT'].sort_values('undergrad_enrollment', ascending=False)

,name,location,rank,description,tuition_and_fees,in_state,undergrad_enrollment,state,state,State
index,,,,,,,,,,
3,Yale University,"New Haven, CT",3,"Yale University, located in New Haven, Connect...",49480,0,"5,532",CT,CT,CT
192,University of Hartford,"West Hartford, CT",188,"The University of Hartford, also known as UHar...",37790,0,"5,246",CT,CT,CT
62,University of Connecticut,"Storrs, CT",60,"The University of Connecticut, located in Stor...",35858,14066,"18,826",CT,CT,CT

In [53]:
df_nur[df_nur['State'] =='NY']

,name,location,rank,description,tuition_and_fees,in_state,undergrad_enrollment,state,state,State
index,,,,,,,,,,
4,Columbia University,"New York, NY",5,"Columbia University, located in Manhattan's Mo...",55056,0,"6,102",NY,NY,NY
14,Cornell University,"Ithaca, NY",15,"Cornell University, located in Ithaca, New Yor...",50953,0,"14,315",NY,NY,NY
32,University of Rochester,"Rochester, NY",32,The University of Rochester describes itself a...,50142,0,"6,304",NY,NY,NY
35,New York University,"New York, NY",36,New York University's primary campus is locate...,49062,0,"25,722",NY,NY,NY
40,Rensselaer Polytechnic Institute,"Troy, NY",39,Rensselaer Polytechnic Institute was founded o...,50797,0,"5,864",NY,NY,NY
59,Fordham University,"New York, NY",60,"At Fordham University, ""New York is [your] cam...",47317,0,"8,855",NY,NY,NY
61,Syracuse University,"Syracuse, NY",60,Few schools are associated with a color as str...,45022,0,"15,196",NY,NY,NY
66,Yeshiva University,"New York, NY",66,Yeshiva University is Jewish institution in Ne...,40670,0,"2,744",NY,NY,NY
85,Binghamton University--SUNY,"Binghamton, NY",86,Outdoor recreation abounds in the southeastern...,22164,9044,"13,491",NY,NY,NY
97,Stony Brook University--SUNY,"Stony Brook, NY",96,Stony Brook University is one of 64 schools in...,26266,9026,"16,831",NY,NY,NY
100,SUNY College of Environmental Science and Fore...,"Syracuse, NY",99,The SUNY College of Environmental Science and ...,17620,7770,"1,839",NY,NY,NY
101,University at Buffalo--SUNY,"Buffalo, NY",99,"Founded in 1846, University at Buffalo--SUNY i...",26270,9770,"19,951",NY,NY,NY
106,Rochester Institute of Technology,"Rochester, NY",107,"Despite its name, the Rochester Institute of T...",38568,0,"12,607",NY,NY,NY
129,Clarkson University,"Potsdam, NY",129,Clarkson University is a private school in nor...,46132,0,"3,257",NY,NY,NY
131,New School,"New York, NY",129,"Founded in 1919, New School is a private insti...",45535,0,"6,792",NY,NY,NY
132,Hofstra University,"Hempstead, NY",133,"With its location on Long Island, New York, Ho...",42160,0,"6,824",NY,NY,NY
145,Adelphi University,"Garden City, NY",146,"Founded in 1896, Adelphi University is a priva...",34034,0,"4,852",NY,NY,NY
148,St. John Fisher College,"Rochester, NY",146,"Founded in 1948, St. John Fisher College is a ...",31880,0,"2,805",NY,NY,NY
149,University at Albany--SUNY,"Albany, NY",146,"The University at Albany, which is part of the...",22244,9124,"12,908",NY,NY,NY
166,St. John's University,"Queens, NY",164,St. John's University is a Roman Catholic inst...,39460,0,"16,210",NY,NY,NY
189,Pace University,"New York, NY",188,"With two main campuses, Pace University offers...",42772,0,"8,747",NY,NY,NY

In [56]:
df_nur[df_nur['State'] =='NY'].sort_values('tuition_and_fees', ascending=False)

,name,location,rank,description,tuition_and_fees,in_state,undergrad_enrollment,state,state,State
index,,,,,,,,,,
4,Columbia University,"New York, NY",5,"Columbia University, located in Manhattan's Mo...",55056,0,"6,102",NY,NY,NY
14,Cornell University,"Ithaca, NY",15,"Cornell University, located in Ithaca, New Yor...",50953,0,"14,315",NY,NY,NY
40,Rensselaer Polytechnic Institute,"Troy, NY",39,Rensselaer Polytechnic Institute was founded o...,50797,0,"5,864",NY,NY,NY
32,University of Rochester,"Rochester, NY",32,The University of Rochester describes itself a...,50142,0,"6,304",NY,NY,NY
35,New York University,"New York, NY",36,New York University's primary campus is locate...,49062,0,"25,722",NY,NY,NY
59,Fordham University,"New York, NY",60,"At Fordham University, ""New York is [your] cam...",47317,0,"8,855",NY,NY,NY
129,Clarkson University,"Potsdam, NY",129,Clarkson University is a private school in nor...,46132,0,"3,257",NY,NY,NY
131,New School,"New York, NY",129,"Founded in 1919, New School is a private insti...",45535,0,"6,792",NY,NY,NY
61,Syracuse University,"Syracuse, NY",60,Few schools are associated with a color as str...,45022,0,"15,196",NY,NY,NY
189,Pace University,"New York, NY",188,"With two main campuses, Pace University offers...",42772,0,"8,747",NY,NY,NY
132,Hofstra University,"Hempstead, NY",133,"With its location on Long Island, New York, Ho...",42160,0,"6,824",NY,NY,NY
66,Yeshiva University,"New York, NY",66,Yeshiva University is Jewish institution in Ne...,40670,0,"2,744",NY,NY,NY
166,St. John's University,"Queens, NY",164,St. John's University is a Roman Catholic inst...,39460,0,"16,210",NY,NY,NY
106,Rochester Institute of Technology,"Rochester, NY",107,"Despite its name, the Rochester Institute of T...",38568,0,"12,607",NY,NY,NY
145,Adelphi University,"Garden City, NY",146,"Founded in 1896, Adelphi University is a priva...",34034,0,"4,852",NY,NY,NY
148,St. John Fisher College,"Rochester, NY",146,"Founded in 1948, St. John Fisher College is a ...",31880,0,"2,805",NY,NY,NY
101,University at Buffalo--SUNY,"Buffalo, NY",99,"Founded in 1846, University at Buffalo--SUNY i...",26270,9770,"19,951",NY,NY,NY
97,Stony Brook University--SUNY,"Stony Brook, NY",96,Stony Brook University is one of 64 schools in...,26266,9026,"16,831",NY,NY,NY
149,University at Albany--SUNY,"Albany, NY",146,"The University at Albany, which is part of the...",22244,9124,"12,908",NY,NY,NY
85,Binghamton University--SUNY,"Binghamton, NY",86,Outdoor recreation abounds in the southeastern...,22164,9044,"13,491",NY,NY,NY
100,SUNY College of Environmental Science and Fore...,"Syracuse, NY",99,The SUNY College of Environmental Science and ...,17620,7770,"1,839",NY,NY,NY

In [55]:
df_nur[df_nur['State'] =='NY'].sort_values('undergrad_enrollment', ascending=False)

,name,location,rank,description,tuition_and_fees,in_state,undergrad_enrollment,state,state,State
index,,,,,,,,,,
59,Fordham University,"New York, NY",60,"At Fordham University, ""New York is [your] cam...",47317,0,"8,855",NY,NY,NY
189,Pace University,"New York, NY",188,"With two main campuses, Pace University offers...",42772,0,"8,747",NY,NY,NY
132,Hofstra University,"Hempstead, NY",133,"With its location on Long Island, New York, Ho...",42160,0,"6,824",NY,NY,NY
131,New School,"New York, NY",129,"Founded in 1919, New School is a private insti...",45535,0,"6,792",NY,NY,NY
32,University of Rochester,"Rochester, NY",32,The University of Rochester describes itself a...,50142,0,"6,304",NY,NY,NY
4,Columbia University,"New York, NY",5,"Columbia University, located in Manhattan's Mo...",55056,0,"6,102",NY,NY,NY
40,Rensselaer Polytechnic Institute,"Troy, NY",39,Rensselaer Polytechnic Institute was founded o...,50797,0,"5,864",NY,NY,NY
145,Adelphi University,"Garden City, NY",146,"Founded in 1896, Adelphi University is a priva...",34034,0,"4,852",NY,NY,NY
129,Clarkson University,"Potsdam, NY",129,Clarkson University is a private school in nor...,46132,0,"3,257",NY,NY,NY
35,New York University,"New York, NY",36,New York University's primary campus is locate...,49062,0,"25,722",NY,NY,NY
148,St. John Fisher College,"Rochester, NY",146,"Founded in 1948, St. John Fisher College is a ...",31880,0,"2,805",NY,NY,NY
66,Yeshiva University,"New York, NY",66,Yeshiva University is Jewish institution in Ne...,40670,0,"2,744",NY,NY,NY
101,University at Buffalo--SUNY,"Buffalo, NY",99,"Founded in 1846, University at Buffalo--SUNY i...",26270,9770,"19,951",NY,NY,NY
97,Stony Brook University--SUNY,"Stony Brook, NY",96,Stony Brook University is one of 64 schools in...,26266,9026,"16,831",NY,NY,NY
166,St. John's University,"Queens, NY",164,St. John's University is a Roman Catholic inst...,39460,0,"16,210",NY,NY,NY
61,Syracuse University,"Syracuse, NY",60,Few schools are associated with a color as str...,45022,0,"15,196",NY,NY,NY
14,Cornell University,"Ithaca, NY",15,"Cornell University, located in Ithaca, New Yor...",50953,0,"14,315",NY,NY,NY
85,Binghamton University--SUNY,"Binghamton, NY",86,Outdoor recreation abounds in the southeastern...,22164,9044,"13,491",NY,NY,NY
149,University at Albany--SUNY,"Albany, NY",146,"The University at Albany, which is part of the...",22244,9124,"12,908",NY,NY,NY
106,Rochester Institute of Technology,"Rochester, NY",107,"Despite its name, the Rochester Institute of T...",38568,0,"12,607",NY,NY,NY
100,SUNY College of Environmental Science and Fore...,"Syracuse, NY",99,The SUNY College of Environmental Science and ...,17620,7770,"1,839",NY,NY,NY